
#Adds Surface World
addDimension(100)

//Voiding Dimension 0
setScriptForDimension(0, "Void")

//Larger Rivers for Surface World
setScriptForDimension(100, "Larger_Rivers")

//Realistic Terrain Gen for Surface World
setWorldInfoForDimension("Realistic", 100)

#Sets the dimension script for dimension -1
setScriptForDimension(50, "AbyssalGlowstone")

//Portal Blocks and Igniters
setPortalOreDict(1, 0, 100, "portalOverworld")
setPortalIgniter(1, "actuallyadditions:item_worm")