#Sets the point in generation when this BlockReplacement will be run
addGenerationPoint("WORLD_GENERATOR_LAST")

#Sets the block to be replaced
setBlockToReplace("abyssalcraft:stone",1)

#Sets the replacement block
setReplacement("minecraft:glowstone")

#Sets the max height for this BlockReplacement to run at. Since this is to be used in the nether, it only needs to be set to 128.
setMaxHeight(255)

#Sets the min height for this BlockReplacement to run at.
setMinHeight(252)