# Configuration file

~CONFIG_VERSION: 0.1.0

world-1083725830 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1181509242 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1477702936 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1635869651 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1907139702 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=build
    B:overlayEnabled=true
}


world-1939791051 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1965001296 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@silent
    B:overlayEnabled=true
}


world-1974054333 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=pig
    B:overlayEnabled=true
}


world-1998678570 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=glowstone
    B:overlayEnabled=true
}


world-598558402 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-6988873 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=casing

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world-911168176 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=iron
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1717234580 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1736871198 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1863696867 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2603186 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=steel
    B:overlayEnabled=true
}


world341682506 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=repea
    B:overlayEnabled=true
}


world542713455 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=divi
    B:overlayEnabled=true
}


world80698811 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@arom
    B:overlayEnabled=true
}


world80698816 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world8890464 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world928532304 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


