# What goes in the chests
# Each line contains:
# type, level, modid.name, minimum amount, maximum amount, NBT tag (from nbt.cfg)
#
# type must be gear, heal (food / health), or loot (treasure)
# level must be an integer from 1 to 8 representing the value / difficulty of guarding mobs
#       Normally this should be 1 to 7, a value of 8 will appear only in rare teasure chests
# modid is the official ID of the mod; for vanilla items the modid is "item"
# name is the in-code, unlocalized name
# minimum and maximum determine the stacks sizes


gear, 1, minecraft:arrow,         		10, 20
gear, 1, minecraft:torch,     			10, 20

gear, 2, silentgems:armorframe(4),  	1, 1
gear, 2, silentgems:armorframe(7),  	1, 1
gear, 2, cyclicmagic:ender_blaze,  		1, 1

gear, 2, silentgems:armorframe(6),      1, 1
gear, 2, minecraft:arrow,         		10, 20
gear, 2, minecraft:torch,    			10, 20

gear, 3, actuallyadditions:obsidian_paxel, 	1, 1
gear, 3, cyclicmagic:tool_elevate,   		1, 1
gear, 3, cyclicmagic:tool_torch_launcher,   1, 1

gear, 3, minecraft:torch,   	       	10, 16

gear, 4, tconstruct:slime_boots,   		1, 1
gear, 4, cyclicmagic:soulstone,   		1, 1
gear, 4, silentgems:petsummoner,   		1, 1

gear, 5, cyclicmagic:soulstone,   		1, 1
gear, 5, silentgems:armorframe(5), 		1, 1
gear, 5, cyclicmagic:evoker_fang, 		1, 1

gear, 6, cyclicmagic:sword_ender, 		1, 1
gear, 6, cyclicmagic:sword_weakness, 	1, 1
gear, 6, cyclicmagic:sword_slowness, 	1, 1
gear, 6, cyclicmagic:evoker_fang, 		1, 1

gear, 7, cyclicmagic:sword_ender, 		1, 1
gear, 7, cyclicmagic:sword_weakness, 	1, 1
gear, 7, cyclicmagic:sword_slowness, 	1, 1
gear, 7, cyclicmagic:evoker_fang, 		1, 1

heal, 1, harvestcraft:delightedmealitem, 1,  1

heal, 2, harvestcraft:delightedmealitem, 1,  1

heal, 3, harvestcraft:delightedmealitem, 2,  2
heal, 3  minecraft:potion,    			1,  1, HEALTH1

heal, 4, harvestcraft:delightedmealitem, 3,  3
heal, 4, minecraft:golden_apple,        1,  1
heal, 4  minecraft:potion,    			1,  1, HEALTH1
heal, 4  minecraft:potion,   		 	1,  1, HEALTH2
heal, 4  minecraft:potion,    			1,  1, REGEN1

heal, 5, harvestcraft:delightedmealitem, 5,  5
heal, 5, cyclicmagic:inventory_food,     1,  1 
heal, 5, cyclicmagic:crafting_food,      1,  1
heal, 5, minecraft:golden_apple,        1,  1
heal, 5, minecraft:potion,    			1,  1, HEALTH2
heal, 5, minecraft:potion,   			1,  1, REGEN1
heal, 5, minecraft:potion,    			1,  1, REGENX
heal, 5, minecraft:potion,    			1,  1, STRONG

heal, 6, harvestcraft:delightedmealitem, 6,  6
heal, 6, minecraft:potion,    			1,  1, HEALTH2
heal, 6, minecraft:potion,    			1,  1, REGEN2
heal, 6, minecraft:potion,    			1,  1, REGENX
heal, 6, minecraft:potion,    			1,  1, STRONG
heal, 6, minecraft:potion,    			1,  1, RESIST
heal, 6, minecraft:golden_apple(1),     1,  1
heal, 6, minecraft:golden_apple,        1,  1

heal, 7, harvestcraft:delightedmealitem, 7,  7
heal, 7, minecraft:golden_apple(1),     1,  1
heal, 7, minecraft:golden_apple,        1,  3
heal, 7, minecraft:potion,    			1,  1, REGEN2
heal, 7, minecraft:potion,    			1,  1, REGENX
heal, 7, minecraft:potion,    			1,  1, STRONG

loot, 1, abyssalcraft:statue(1),       	1,  1
loot, 1, abyssalcraft:statue,         	1,  1
loot, 1, minecraft:iron_ingot,        	10,  20

loot, 2, abyssalcraft:statue(5),        1,  1
loot, 2, abyssalcraft:statue(6),        1,  1
loot, 2, minecraft:iron_ingot,        	10, 20
loot, 2, minecraft:gold_ingot,        	10, 20
loot, 2, minecraft:ender_pearl,        	5,  10

loot, 3, minecraft:gold_ingot,        	2,  5
loot, 3, minecraft:iron_ingot,        	3,  12
loot, 3, minecraft:ender_pearl,        	1,  3
loot, 3, refinedstorage:storage_disk,   1,  1
loot, 3, abyssalcraft:statue(2),        1,  1
loot, 3, abyssalcraft:statue(3),        1,  1

loot, 4, minecraft:golden_apple,       	1,  1
loot, 4, minecraft:blaze_rod,        	5,  10
loot, 4, minecraft:ender_pearl,        	5,  10
loot, 4, minecraft:iron_ingot,        	24, 32
loot, 4, minecraft:gold_ingot,        	20, 32
loot, 4, harvestcraft:market,        	1,  1
loot, 4, refinedstorage:storage_disk,   1,  1
loot, 4, abyssalcraft:statue(4),        1,  1
loot, 4, cyclicmagic:charm_wing,     	1,  1

loot, 5, minecraft:blaze_rod,        	10, 15
loot, 5, minecraft:ender_eye,        	10, 15
loot, 5, minecraft:ender_pearl,        	10, 15
loot, 5, refinedstorage:disk_drive,     1,  1
loot, 5, cyclicmagic:charm_wing,     	1,  1
loot, 5, harvestcraft:market,        	1,  1

loot, 6, minecraft:ender_eye,        	10, 15
loot, 6, minecraft:ender_pearl,        	20, 30
loot, 6, refinedstorage:grid,        	1,  1
loot, 6, harvestcraft:market,        	1,  1
loot, 6, cyclicmagic:charm_antidote,    1,  1
loot, 6, cyclicmagic:charm_wing,     	1,  1

loot, 7, minecraft:ender_eye,        	1,  2
loot, 7, cyclicmagic:charm_antidote,    1,  1
loot, 7, refinedstorage:controller,     1,  1
loot, 7, refinedstorage:grid,        	1,  1
loot, 7, refinedstorage:disk_drive,     1,  1

loot, 8, minecraft:nether_star,      	1,  1
loot, 8, minecraft:skull(1),            1,  8
loot, 8, minecraft:beacon,              1,  1,
loot, 8, minecraft:diamond_pickaxe,   	1,  1, VANILLAWORLD
