# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General configuration
##########################################################################################################

general {
    # Set to false to disable copper ore generation [default: true]
    B:genCopper=true

    # Set to false to disable nickel ore generation [default: true]
    B:genNickel=true
}


machines {
    # Set to false to disable the Grindstone enchanting tools and weapons [default: true]
    B:allowGrinderEnchanting=true
}


