# Configuration file

client {
    # Synchronize and show: Lasers from turrets [default: true]
    B:doEntityEaterSync=true

    # If true, will add all BLueprint research item to the Futurepack Tab. [default: false]
    B:enable_blueprints_in_creative=true

    # Show custom loading Screen [default: false]
    B:futurepackStartMenu=false

    # This is for Mantes and BTM [default: [{res:"minecraft:grass",snowy:false}]]
    S:qick_holograms <
        {res:"minecraft:grass",snowy:false}
     >

    # Synchronize and show: Itemflow in Pipes [default: true]
    B:renderPipeItems=true
}


common {
    # Should smelt recipes allways be added for Futurepack materials. Only use this if Dust to Ingot recipes are missing! [default: false]
    B:forceSmeltRecipes=false

    # Number of blocks supported by one thruster [range: 0 ~ 100000, default: 101]
    I:thrusterBlockMoveCount=101
}


intern {
    I:version=1
}


magnetism {
    # Magnetic boots
    S:boots=minecraft:iron_boots,minecraft:chainmail_boots

    # Magnetic chestplates
    S:chestplates=minecraft:iron_chestplate,minecraft:chainmail_chestplate

    # Magnetic helmets
    S:helmets=minecraft:iron_helmet,minecraft:chainmail_helmet

    # Magnetic leggings
    S:leggings=minecraft:iron_leggings,minecraft:chainmail_leggings
}


research {
    # Factor to manipulate requirements of all Researches (Neon-Energy Bar). This entry should have the same value on server and client! [range: 1.0E-6 ~ 1000.0, default: 1.0]
    S:neon_factor=1.0

    # Factor to manipulate requirements of all Researches (Support Bar). This entry should have the same value on server and client! [range: 0.001 ~ 100.0, default: 1.0]
    S:support_factor=1.0

    # Factor to manipulate requirements of all Researches (Time Bar). This entry should have the same value on server and client! [range: 0.001 ~ 100.0, default: 1.0]
    S:time_factor=1.0

    # Factor to manipulate requirements of all Researches (Experience Bar). This entry should have the same value on server and client! [range: 0.001 ~ 100.0, default: 1.0]
    S:xp_factor=1.0
}


server {
    # This disables the 'You dont know how to use this machine' message, and you can open the gui. [default: false]
    B:disable_machine_lock=false

    # This disables the research checking ins die the researcher. If enabled you can research a blueprint, even if this would not be possible. [default: false]
    B:disable_research_check=false

    # Disable this to prevent glowmelows to fall down after they are fully grown. [default: true]
    B:glowmelow_drop=true

    # A Player must wait this time (in ms) until he can jump with a spaceship again. This prevents griefers from attacking servers. [range: 1 ~ 2147483647, default: 60000]
    I:spacetravelCooldown=60000

    # If false the player will not receive a note a the start on a world [default: true]
    B:spawn_note_enabled=false
}


worldgeneration {
    # Quantity of Bauxite Ore [range: 0 ~ 25, default: 7]
    I:bauxiteOre=0

    # Quantity of Bedrock Rifts [range: 0 ~ 25, default: 1]
    I:bedrockRift=1

    # Max Heigth for Bedrock search [range: 0 ~ 256, default: 6]
    I:bedrockRiftMaxHeight=6

    # A blacklist to stop tec dungeon spawn in dimensions. [default:[0]]
    I:bl_tec_dungeons <
     >

    # Quantity of Menelaus Coal Ore [range: 0 ~ 25, default: 10]
    I:coalOreM=0

    # Quantity of Copper Ore [range: 0 ~ 25, default: 10]
    I:copperOre=0

    # Quantity of Menelaus Copper Ore [range: 0 ~ 25, default: 6]
    I:copperOreM=0

    # Chance of Alutin Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_alutin=0

    # Chance of Bioterium Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_bioterium=0

    # Chance of Glowtite Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_glowtite=0

    # Chance of Neon Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_neon=0

    # Chance of Retium Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_retium=0

    # Distance in Chunks ( so *16 for block coords) around the spawn were no huge dungeons will spawn. [range: 0 ~ 2147483647, default: 0]
    I:hugeDungeon_mindis=0

    # Chance of a huge Tecdungeon to spawn in a chunk [range: 0.0 ~ 0.2, default: 0.0035]
    S:hugeDungeon_spawnrate=0.0

    # Quantity of Magnetite Ore [range: 0 ~ 25, default: 5]
    I:magnetiteOre=0

    # Quantity of Menelaus Quartz Ore [range: 0 ~ 25, default: 8]
    I:quartzOreM=0

    # Distance in Chunks ( so *16 for block coords) around the spawn were no tec dungeons will spawn. [range: 0 ~ 2147483647, default: 0]
    I:tecDungeon_mindis=0

    # Chance of a normal Tecdungeon to spawn in a chunk [range: 0.0 ~ 0.2, default: 0.00667]
    S:tecDungeon_spawnrate=0.0

    # Quantity of Tin Ore [range: 0 ~ 25, default: 10]
    I:tinOre=0

    # A whitelist for enabling alutin crystal caves in other dimensions. [default:[0]]
    I:wl_alutincave <
        0
     >

    # A whitelist for enabling bioterium crystal caves in other dimensions. [default:[0]]
    I:wl_bioterium_cave <
        74
     >

    # A whitelist for enabling glowtite crystal caves in other dimensions. [default:[0]]
    I:wl_glowtite_cave <
        73
     >

    # A whitelist for enabling huge dungeon spawn in other dimensions. [default:[0]]
    I:wl_huge_dungeons <
        0
     >

    # A whitelist for enabling neon crystal caves in other dimensions. [default:null]
    I:wl_neon_cave <
        0
     >

    # A whitelist for enabling retium crystal caves in other dimensions. [default:[0]]
    I:wl_retium_cave <
        73
     >

    # Quantity of Zinc Ore [range: 0 ~ 25, default: 10]
    I:zincOre=0
}


