# Configuration file

entitiesalwaysinfernal {
    B:EntityAbyssalZombie=false
    B:EntityAncientGolem=false
    B:EntityAntiAbyssalZombie=false
    B:EntityAntiCreeper=false
    B:EntityAntiGhoul=false
    B:EntityAntiPlayer=false
    B:EntityAntiSkeleton=false
    B:EntityAntiSpider=false
    B:EntityAntiZombie=false
    B:EntityAshen=false
    B:EntityBaby=false
    B:EntityBabySkeleton=false
    B:EntityBasalz=false
    B:EntityBlaze=false
    B:EntityBlitz=false
    B:EntityBlueSlime=false
    B:EntityBrainSlime=false
    B:EntityCaveSpider=false
    B:EntityCaveman=false
    B:EntityCavenicBear=false
    B:EntityCavenicCreeper=false
    B:EntityChagaroth=false
    B:EntityChagarothFist=false
    B:EntityChagarothSpawn=false
    B:EntityClimber=false
    B:EntityCrackedPigZombie=false
    B:EntityCrackedZombie=false
    B:EntityCrazyCreeper=false
    B:EntityCrazyZombie=false
    B:EntityCreeper=false
    B:EntityDemonChicken=false
    B:EntityDemonCow=false
    B:EntityDemonPig=false
    B:EntityDemonSheep=false
    B:EntityDepthsGhoul=false
    B:EntityDireWolf=false
    B:EntityDragon=false
    B:EntityDragonMinion=false
    B:EntityDreadSpawn=false
    B:EntityDreadgolem=false
    B:EntityDreadguard=false
    B:EntityDreadling=false
    B:EntityDweller=false
    B:EntityElderGuardian=false
    B:EntityEnchantedBook=false
    B:EntityEnderDragonZombie=false
    B:EntityEnderSlime=false
    B:EntityEnderman=false
    B:EntityEndermite=false
    B:EntityEntrail=false
    B:EntityEvilChicken=false
    B:EntityEvilCow=false
    B:EntityEvilRobot=false
    B:EntityEvilSheep=false
    B:EntityEvilpig=false
    B:EntityFestiveCreeper=false
    B:EntityFreezer=false
    B:EntityGatekeeperMinion=false
    B:EntityGreaterDreadSpawn=false
    B:EntityGuardian=false
    B:EntityHauntedCow=false
    B:EntityHauntedTool=false
    B:EntityHusk=false
    B:EntityLesserDreadbeast=false
    B:EntityLesserShoggoth=false
    B:EntityMutantSteve=false
    B:EntityPigZombie=false
    B:EntityPinkWither=false
    B:EntityRemnant=false
    B:EntityRocketCreeper=false
    B:EntitySacthoth=false
    B:EntityShadow=false
    B:EntityShadowBeast=false
    B:EntityShadowCreature=false
    B:EntityShadowMonster=false
    B:EntitySilverfish=false
    B:EntitySkeletalKing=false
    B:EntitySkeleton=false
    B:EntitySkeletonGoliath=false
    B:EntitySkeletonRaider=false
    B:EntitySkeletonWarrior=false
    B:EntitySkullCrawler=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntityStranger=false
    B:EntitySupportCreeper=false
    B:EntityTFAdherent=false
    B:EntityTFArmoredGiant=false
    B:EntityTFBlockGoblin=false
    B:EntityTFDeathTome=false
    B:EntityTFFireBeetle=false
    B:EntityTFGiantMiner=false
    B:EntityTFGoblinKnightLower=false
    B:EntityTFGoblinKnightUpper=false
    B:EntityTFHarbingerCube=false
    B:EntityTFHelmetCrab=false
    B:EntityTFHydra=true
    B:EntityTFIceExploder=false
    B:EntityTFIceShooter=false
    B:EntityTFKobold=false
    B:EntityTFLich=true
    B:EntityTFLichMinion=false
    B:EntityTFMazeSlime=false
    B:EntityTFMinoshroom=false
    B:EntityTFMinotaur=false
    B:EntityTFMosquitoSwarm=false
    B:EntityTFNaga=false
    B:EntityTFPinchBeetle=false
    B:EntityTFRedcap=false
    B:EntityTFRedcapSapper=false
    B:EntityTFSlimeBeetle=false
    B:EntityTFSwarmSpider=false
    B:EntityTFTroll=false
    B:EntityTFWraith=false
    B:EntityTFYeti=false
    B:EntityUndead=false
    B:EntityWideman=false
    B:EntityWitch=false
    B:EntityWither=true
    B:EntityWitherSkeleton=false
    B:EntityWoman=false
    B:EntityZombie=false
    B:EntityZombieChicken=false
    B:EntityZombieDog=false
    B:EntityZombieRaider=false
    B:EntityZombieSkullCrawler=false
    B:EntityZombieVillager=false
    B:EntityblueBokoblin=false
    B:EntitybreathOfTheWildBokoblin=false
    B:Entitydarknut=false
    B:Entityganondorf=false
    B:Entitygibdo=false
    B:EntityhelmarocKing=false
    B:Entitymomie=false
    B:Entitystalchild=false
    B:Entitytektite=false
    B:Netherfish=false
    B:PoisonousLibelle=false
}


entitybasehealth {
    D:EntityAbyssalZombie=25.0
    D:EntityAncientGolem=40.0
    D:EntityAntiPlayer=40.0
    D:EntityBabySkeleton=20.0
    D:EntityBasalz=20.0
    D:EntityBlaze=30.0
    D:EntityBlitz=20.0
    D:EntityBlueSlime=4.0
    D:EntityBrainSlime=1.0
    D:EntityCaveSpider=12.0
    D:EntityCavenicCreeper=30.0
    D:EntityCrackedPigZombie=20.0
    D:EntityCrackedZombie=20.0
    D:EntityCreeper=20.0
    D:EntityDepthsGhoul=30.0
    D:EntityEnchantedBook=20.0
    D:EntityEnderman=40.0
    D:EntityEvilChicken=10.0
    D:EntityEvilCow=15.0
    D:EntityEvilSheep=12.0
    D:EntityEvilpig=15.0
    D:EntityHauntedCow=24.0
    D:EntityHauntedTool=3.200000047683716
    D:EntityLesserShoggoth=100.0
    D:EntityRemnant=100.0
    D:EntityRocketCreeper=20.0
    D:EntityShadowCreature=20.0
    D:EntityShadowMonster=50.0
    D:EntitySkeleton=30.0
    D:EntitySkeletonGoliath=100.0
    D:EntitySkeletonWarrior=20.0
    D:EntitySlime=1.5
    D:EntitySpider=16.0
    D:EntitySupportCreeper=20.0
    D:EntityTFBlockGoblin=20.0
    D:EntityTFFireBeetle=25.0
    D:EntityTFHarbingerCube=40.0
    D:EntityTFKobold=13.0
    D:EntityTFMazeSlime=2.0
    D:EntityTFMinotaur=30.0
    D:EntityTFPinchBeetle=40.0
    D:EntityTFRedcap=20.0
    D:EntityTFSlimeBeetle=25.0
    D:EntityTFSwarmSpider=3.0
    D:EntityTFTroll=30.0
    D:EntityTFYeti=20.0
    D:EntityWitch=26.0
    D:EntityWither=600.0
    D:EntityZombie=30.0
    D:EntityZombieVillager=20.0
    D:Netherfish=12.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=false
    B:"MM_1UP enabled"=false
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=false
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=false
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=false
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=false
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=false
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    S:dimensionIDBlackList=0
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:EntityAbyssalZombie=true
    B:EntityAncientGolem=true
    B:EntityAntiAbyssalZombie=true
    B:EntityAntiCreeper=true
    B:EntityAntiGhoul=true
    B:EntityAntiPlayer=true
    B:EntityAntiSkeleton=true
    B:EntityAntiSpider=true
    B:EntityAntiZombie=true
    B:EntityAshen=true
    B:EntityBaby=true
    B:EntityBabySkeleton=true
    B:EntityBasalz=true
    B:EntityBlaze=true
    B:EntityBlitz=true
    B:EntityBlueSlime=true
    B:EntityBrainSlime=true
    B:EntityCaveSpider=true
    B:EntityCaveman=true
    B:EntityCavenicBear=true
    B:EntityCavenicCreeper=true
    B:EntityChagaroth=true
    B:EntityChagarothFist=true
    B:EntityChagarothSpawn=true
    B:EntityClimber=true
    B:EntityCrackedPigZombie=true
    B:EntityCrackedZombie=true
    B:EntityCrazyCreeper=true
    B:EntityCrazyZombie=true
    B:EntityCreeper=true
    B:EntityDemonChicken=true
    B:EntityDemonCow=true
    B:EntityDemonPig=true
    B:EntityDemonSheep=true
    B:EntityDepthsGhoul=true
    B:EntityDireWolf=true
    B:EntityDragon=true
    B:EntityDragonMinion=true
    B:EntityDreadSpawn=true
    B:EntityDreadgolem=true
    B:EntityDreadguard=true
    B:EntityDreadling=true
    B:EntityDweller=true
    B:EntityElderGuardian=true
    B:EntityEnchantedBook=true
    B:EntityEnderDragonZombie=true
    B:EntityEnderSlime=true
    B:EntityEnderman=true
    B:EntityEndermite=true
    B:EntityEntrail=true
    B:EntityEvilChicken=true
    B:EntityEvilCow=true
    B:EntityEvilRobot=true
    B:EntityEvilSheep=true
    B:EntityEvilpig=true
    B:EntityFestiveCreeper=true
    B:EntityFreezer=true
    B:EntityGatekeeperMinion=true
    B:EntityGreaterDreadSpawn=true
    B:EntityGuardian=true
    B:EntityHauntedCow=true
    B:EntityHauntedTool=true
    B:EntityHusk=true
    B:EntityLesserDreadbeast=true
    B:EntityLesserShoggoth=true
    B:EntityMutantSteve=true
    B:EntityPigZombie=true
    B:EntityPinkWither=true
    B:EntityRemnant=true
    B:EntityRocketCreeper=true
    B:EntitySacthoth=true
    B:EntityShadow=true
    B:EntityShadowBeast=true
    B:EntityShadowCreature=true
    B:EntityShadowMonster=true
    B:EntitySilverfish=true
    B:EntitySkeletalKing=true
    B:EntitySkeleton=true
    B:EntitySkeletonGoliath=true
    B:EntitySkeletonRaider=true
    B:EntitySkeletonWarrior=true
    B:EntitySkullCrawler=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntityStranger=true
    B:EntitySupportCreeper=true
    B:EntityTFAdherent=true
    B:EntityTFArmoredGiant=true
    B:EntityTFBlockGoblin=true
    B:EntityTFDeathTome=true
    B:EntityTFFireBeetle=true
    B:EntityTFGiantMiner=true
    B:EntityTFGoblinKnightLower=true
    B:EntityTFGoblinKnightUpper=true
    B:EntityTFHarbingerCube=true
    B:EntityTFHelmetCrab=true
    B:EntityTFHydra=true
    B:EntityTFIceExploder=true
    B:EntityTFIceShooter=true
    B:EntityTFKobold=true
    B:EntityTFLich=true
    B:EntityTFLichMinion=true
    B:EntityTFMazeSlime=true
    B:EntityTFMinoshroom=true
    B:EntityTFMinotaur=true
    B:EntityTFMosquitoSwarm=true
    B:EntityTFNaga=true
    B:EntityTFPinchBeetle=true
    B:EntityTFRedcap=true
    B:EntityTFRedcapSapper=true
    B:EntityTFSlimeBeetle=true
    B:EntityTFSwarmSpider=true
    B:EntityTFTroll=true
    B:EntityTFWraith=true
    B:EntityTFYeti=true
    B:EntityUndead=true
    B:EntityWideman=true
    B:EntityWitch=true
    B:EntityWither=true
    B:EntityWitherSkeleton=true
    B:EntityWoman=true
    B:EntityZombie=true
    B:EntityZombieChicken=true
    B:EntityZombieDog=true
    B:EntityZombieRaider=true
    B:EntityZombieSkullCrawler=true
    B:EntityZombieVillager=true
    B:EntityblueBokoblin=true
    B:EntitybreathOfTheWildBokoblin=true
    B:Entitydarknut=true
    B:Entityganondorf=true
    B:Entitygibdo=true
    B:EntityhelmarocKing=true
    B:Entitymomie=true
    B:Entitystalchild=true
    B:Entitytektite=true
    B:Netherfish=true
    B:PoisonousLibelle=true
}


