# Configuration file

general {
    # Will disable all possible Modifiers
    B:"Disable Ability to Apply All Modifiers"=false

    # Will only disable the creation not the existing of the parts
    B:"Disable Ability to Create All Parts"=false

    # Will disable the creation of all tools via a tool station/forge
    B:"Disable Ability to Create All Tools"=false

    # Will stop all Parts from being replaceable
    B:"Disable Ability to Replace All Parts"=false

    # Use material name. Example: stone [default: ]
    S:"List of Materials That Cant Be Used As Replacements" <
     >

    # Use material name. Example: mending_moss [default: ]
    S:"List of Modifiers to Disable" <
     >

    # Use material name. Example: stone [default: ]
    S:"List of Part That Cant Be Created" <
     >

    # Use part type name. Example: pick_head [default: ]
    S:"List of Part Types That Cant Be Created" <
        pick_head
        shard
        sharpening_kit
        shovel_head
        axe_head
        broad_axe_head
        sword_blade
        hammer_head
        excavator_head
        pan_head
        sign_head
        binding
        wide_guard
        hand_guard
        cross_guard
        knife_blade
        bolt_core
     >

    # Use tool type name. Example: pickaxe [default: ]
    S:"List of Tool Types That Cant Be Created" <
        pickaxe
        shovel
        hatchet
        mattock
        hammer
        excavator
        broadsword
        longsword
        rapier
        frypan
        battlesign
        crossbow
        bolt
        shuriken
     >

    # Use material name. Example: paper [default: ]
    S:"Remove Materials/Parts List" <
     >
}


