# Configuration file

0 {
    # Specify the block name of generation block.
    S:block=minecraft:stone

    # Specify the block metadata of generation block.
    S:blockMeta=granite

    # Specify the block name of generation target block.
    S:targetBlock=minecraft:stone

    # Specify the block metadata of generation target block.
    S:targetBlockMeta=stone

    # Specify the weight for generation. [range: 0 ~ 100]
    I:weight=28

    # Specify the chance for generation. [range: 0.0 ~ 1.0, default: 1.0]
    D:chance=0.0

    # Specify the vein size for generation. [range: 0 ~ 100]
    I:size=1

    # Specify the minimum height for generation. [range: 0 ~ 255, default: 0]
    I:minHeight=0

    # Specify the maximum height for generation. [range: 0 ~ 255, default: 255]
    I:maxHeight=1

    # Specify the accept biomes for generation.
    S:biomes <
     >
}